/**
 * @desc        Style padrão do widget
 * @copyright   2019 upFlow.me
 * @author      Helbert Campos <helbert@upflow.me>
 */

/* ========== VARIÁVEIS DE CORES  ========== */
[appcode="UFP001"] {
	--colorDeadlineWhole: #01b8aa;
	--colorDeadlineHalf: #f2c711;
	--colorDeadlineToday: #fd625f;
}

.uF.UFP001 {
	font-family: Open Sans, sans-serif;
	color: #4c4c4c;
}
.uF.UFP001 :focus {
	outline: none;
}

/* ========== CONTEÚDO PRINCIPAL ========== */
.uF div#app_conteudo {
	margin-bottom: 15px;
}

.uF .header {
	border-bottom: 1px solid rgba(87, 90, 93, 0.07);
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.uF .header ul.header-tools {
	margin-bottom: 0px;
}
.uF .header ul.header-tools > li {
	display: inline-block;
	font-size: 85%;
	vertical-align: middle;
}
.uF .header ul.header-tools > li:not(:last-child):after {
	content: "\007C";
	padding: 0 5px;
	color: #ccc;
}
.uF .header ul.header-tools > li > a {
	/*color: #6c757d !important;*/
	font-size: 18px;
}
.uF .header #refresh {
	color: #6c757d;
}
.uF .header #refresh:hover {
	color: #4c4c4c;
}
.uF .header .badge {
	color: #212529;
	background-color: #ffc107;
	padding-right: 0.6em;
	padding-left: 0.6em;
	border-radius: 10rem;
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
}

.uF .card {
	background-color: #fff;
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 20px;
	min-height: 90px;
}
.uF .card .panel-subtitle {
	color: #6c757d;
	margin-bottom: 0px;
	font-weight: 100;
}
.uF .card .panel-title {
	display: block;
	margin-top: 0px;
	color: #6c757d;
	text-transform: uppercase;
	margin-bottom: 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.uF .card .panel-title span.info {
	font-size: smaller;
	color: #007bff;
	cursor: help;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s linear 0.6s, opacity 0.2s linear 0.6s;
}
.uF .card:hover .panel-title span.info {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}
.uF .card.has-error {
	border: 1px solid #f74849;
	background-color: rgba(248, 97, 97, 0.3);
}
.uF .card .panel-controls ul {
	margin-bottom: 0px;
}
.uF .card .panel-controls ul > li {
	display: inline-block;
	font-size: 85%;
	vertical-align: middle;
}
.uF .card .panel-controls ul > li:not(:last-child):after {
	content: "\007C";
	padding: 0 5px;
	color: #ccc;
}
.uF .card .panel-controls ul > li > a {
	color: #6c757d !important;
	font-size: 12px;
}
.uF .card .value {
	color: #343a40;
	font-size: 200%;
	font-weight: 600;
	line-height: 1;
}

.uF .card.deadlines .deadlines-today {
	border: 1px;
	border-color: #cccccc;
	border-style: solid;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
}
.uF .card.deadlines .deadlines-half {
	border: 1px;
	border-color: #cccccc;
	border-style: solid;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
}
.uF .card.deadlines .deadlines-title {
	margin-left: -20px;
}
.uF .card.deadlines .deadlines-content {
	margin-left: -35px;
}

.uF .card.deadlines .progress {
	display: flex;
	height: 12px;
	overflow: hidden;
	background-color: #e9ecef;
	border-radius: 6px;
	margin-bottom: 5px;
}

.uF .card.deadlines .progress .progress-bar {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #007bff;
	transition: width 0.6s ease;

	margin: 3px 0px;
}

.uF .card.deadlines .progress .bar-today {
	background-color: var(--colorDeadlineToday) !important;
}
.uF .card.deadlines .progress .bar-half {
	background-color: var(--colorDeadlineHalf) !important;
}
.uF .card.deadlines .progress .bar-whole {
	background-color: var(--colorDeadlineWhole) !important;
}

.uF .card.deadlines .progress .progress-bar:first-child {
	margin: 3px 0px 3px 3px;
	border-radius: 3px 0px 0px 3px;
}
.uF .card.deadlines .progress .progress-bar:last-child {
	margin: 3px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
}
.uF .card.deadlines .progress .progress-bar:only-child {
	margin: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}
.uF .card.deadlines .progress-footer {
	font-size: 11px;
}
.uF .card.deadlines .progress-footer .icon-today {
	color: var(--colorDeadlineToday) !important;
}
.uF .card.deadlines .progress-footer .icon-half {
	color: var(--colorDeadlineHalf) !important;
}
.uF .card.deadlines .progress-footer .icon-whole {
	color: var(--colorDeadlineWhole) !important;
}

.uF .card.list-card {
	padding: 0px 0px 30px;
}
.uF .card.list-card .panel-header {
	padding: 15px 15px 5px;
}
.uF .card.list-card table > thead > tr > th:first-child,
.uF .card.list-card table > tbody > tr > td:first-child {
	padding-left: 15px;
}
.uF .card.list-card table > thead > tr > th:last-child,
.uF .card.list-card table > tbody > tr > td:last-child {
	padding-right: 15px;
}
.uF .card.list-card table > thead > tr > th {
	text-transform: uppercase;
	white-space: nowrap;
	padding: 4px;
	color: #6c757d;
	font-weight: 100;
	background-color: #eef5fa;
	position: sticky;
	top: 0;
	z-index: 1;
}
.uF .card.list-card table > tbody {
	line-height: 1;
}
.uF .tableHolder:hover {
	overflow-y: overlay;
}
.uF .tableHolder {
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 436px;
	margin-right: 15px;
}
.uF .pageInput {
	line-height: 1.42857143;
	height: 34px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	border: 1px solid #ccc;
	padding: 6px 12px 8px;
	border-width: 1px 1px 0;
	border-color: #d1d3d4;
	border-radius: 4px;
	outline: 0;
	background-image: linear-gradient(to left, #45b6da, #45b6da),
		linear-gradient(to left, #58595b, #58595b);
	background-repeat: no-repeat;
	background-position: left bottom, left bottom, calc(100% - 4px) center;
	background-size: 0 2px, 100% 2px, 24px 24px;
	box-shadow: none !important;
}

.uF .card.list-card table > tbody > tr[data-id] {
	border-top: 1px solid rgba(87, 90, 93, 0.07);
	border-bottom: 1px solid rgba(87, 90, 93, 0.07);
	cursor: pointer;
}
.uF .card.list-card table > tbody > tr.no-tasks > td {
	padding: 20px 20px 10px 20px;
}
.uF .card.list-card table > tbody > tr.no-tasks > td > span {
	color: #eedd77;
}
.uF .card.list-card table > tbody > tr[data-id]:hover {
	background-color: #fdfbe7;
}
.uF .card.list-card table > tbody > tr > td {
	font-size: 14px;
	padding: 8px;
	color: #4c4c4c;
}
.uF .card.list-card table > tbody > tr > td[col="nbr"] {
	text-align: center;
}
.uF .card.list-card table > tbody > tr > td[col="nbr"] span {
	font-weight: bold;
}
.uF .card.list-card table > tbody > tr > td[col="stt"] {
}
.uF .card.list-card table > tbody > tr > td[col="stt"] span {
	font-weight: bold;
	display: block;
}
.uF .card.list-card table > tbody > tr > td[col="dln"] {
}
.uF .card.list-card table > tbody > tr > td[col="dln"] span {
	white-space: nowrap;
	font-weight: bold;
	display: block;
}
.uF .card.list-card table > tbody > tr > td[col="sla"] {
}
.uF .card.list-card table > tbody > tr > td[col="sla"] .progress {
	display: flex;
	height: 12px;
	overflow: hidden;
	background-color: #e9ecef;
	border-radius: 6px;
}
.uF .card.list-card table > tbody > tr > td[col="sla"] .progress .progress-bar {
	background-color: #007bff;
	transition: width 0.6s ease;
	margin: 3px;
	border-radius: 3px;
}
.uF
	.card.list-card
	table
	> tbody
	> tr
	> td[col="sla"]
	.progress
	.progress-bar.warning {
	background-color: #f8d053;
}
.uF
	.card.list-card
	table
	> tbody
	> tr
	> td[col="sla"]
	.progress
	.progress-bar.caution {
	background-color: #ff8d00;
}
.uF
	.card.list-card
	table
	> tbody
	> tr
	> td[col="sla"]
	.progress
	.progress-bar.danger {
	background-color: #f55753;
}
.uF .card.list-card table > tbody > tr > td[col="act"] {
	color: #eaecef;
}
.uF .card.list-card table > tbody > tr:hover > td[col="act"] {
	color: #4c4c4c;
}
.uF .card.list-card .list-footer .list-footer-info small {
	padding-left: 15px;
	color: #6c757d;
}
.uF .card.list-card .list-footer .pagination {
	margin-top: 0.5rem;
	margin-bottom: -18px;
	display: flex;
	padding-right: 15px;
	list-style: none;
	border-radius: 0.25rem;
}
.uF .card.list-card .list-footer .pagination-sm .page-link {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
}
.uF .card.list-card .list-footer .page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #007bff;
	background-color: #fff;
	border: 1px solid #dee2e6;
}
.uF .card.list-card .list-footer .page-link:hover {
	z-index: 2;
	color: #0056b3;
	text-decoration: none;
	background-color: #e9ecef;
	border-color: #dee2e6;
}
.uF .card.list-card .list-footer .page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.uF .card.list-card .list-footer .page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6;
}
.uF .card.list-card .list-footer .page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.uF .card.list-card .list-footer .page-item:last-child .page-link {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.uF .card.pie-card .pie-element {
	/*	margin-top: -59px;*/
}
.uF .card.license {
	min-height: 0;
}
.uF .card.license .col-md-auto {
	text-align: center;
}
.uF .card.license .button {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: #01b8aa;
	border-radius: 50px;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.uF .card.license .button .icons {
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 27px 0 0;
}
.uF .card.license .button .icons svg {
	position: absolute;
}
.uF .card.license .button .icons .icon-default {
	transition: opacity 0.3s, transform 0.3s;
}
.uF .card.license .button .icons .icon-hover {
	transition: opacity 0.3s, transform 0.3s;
	transform: rotate(-180deg) scale(0.5);
	opacity: 0;
}
.uF .card.license .button:hover {
	transform: scale(1.1);
	background: #0e8a80;
}
.uF .card.license .button:hover .icon-hover {
	transform: rotate(0deg) scale(1);
	opacity: 1;
}
.uF .card.license .button:hover .icon-default {
	transform: rotate(180deg) scale(0.5);
	opacity: 0;
}
@media (max-width: 768px) {
	.uF .card.license img,
	.uF .card.license .button {
		margin: 10px;
	}
}

::-webkit-scrollbar {
	width: 6px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #4c4c4c;
}
.blockOverlay {
	border-radius: 4px;
}

/* ========== UF PLACEHOLDER  ========== */
.uF #app_placeholder * {
	font-size: 0;
	line-height: 0;
}
.uF #app_placeholder .text {
	background-color: #444;
	height: 18px;
	border-radius: 10px;
	opacity: 0.1;
	animation: fading 2.8s infinite;
}
.uF #app_placeholder .text.value {
	width: 20%;
	background-color: #000;
}
.uF #app_placeholder .text.icon {
	width: 36px;
	height: 36px;
	border-radius: 100%;
}
.uF #app_placeholder .text.small {
	height: 12px;
	background-color: #888;
}
.uF #app_placeholder .panel-content {
	min-height: 300px;
}
.hidden {
	display: none !important;
}
@keyframes fading {
	0% {
		opacity: 0.1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 0.1;
	}
}
.tooltip .tooltip-inner {
	display: none;
}
.tooltip.show .tooltip-inner {
	display: block;
}

/* ========== AJUSTES MODAL FLUIG BOOTSTRAP 3  ========== */
.fluig-style-guide.modal{
	background: rgba(0, 0, 0, 0.5) !important;
    position: absolute !important;
    height: 137vh !important;
    width: 101vw !important;
    top: -1vh !important;
}
.modal .modal-dialog{
    top: 35% !important;
    transform: translateY(-50%) translateX(-50%);
    left: 49% ! important;
}
.modal .modal-dialog.modal-full {
	width:90%;
}