/**
 * @copyright   2019 upFlow.me
 * @author      Helbert Campos <helbert@upflow.me>
 */

#wcm-content {
	background-color: #f5f6f7 !important;
}

#divSlotPrincipal {
    margin-bottom: 25px;
}

.wcm-all-content .wcm_widget {
	padding: 0px !important;
	border-radius: 0px !important;
	background-color: transparent !important;
	margin: 0px !important;
    box-shadow: none !important;
	-webkit-box-shadow: none;
}

/* ========== FOOTER ========== */
#uf_footer {
    color: #999;
    padding: 0px 2%;
    background-color: #f5f6f7; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
}
#uf_footer .row {
    padding: 10px;
    border-top: 1px solid rgba(87,90,93,0.07);
}
#uf_footer ul.info {
    margin-bottom: 0px	
}
#uf_footer ul.info li {
    display: inline-block;
    font-size: 11px;
    vertical-align: middle;
}
#uf_footer ul.info > li:not(:last-child):after {
    content: "\007C";
	padding-left: 5px;
    color: #ccc;
}
@media (max-width: 576px) {
	#uf_footer ul.info {
		text-align: center;
	}
}

#uf_footer a.uf-link {
    width: 20px;
    display: inline-block;
	overflow: hidden;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.04, 0.98, 0.57, 1);
    transition-delay: 0s;
}
#uf_footer a.uf-link svg {
    height: 20px;
}
#uf_footer a.uf-link svg .ufseta  {
    fill: #d3d3d3;
}
#uf_footer a.uf-link svg .ufletras {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 800ms;
    transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
    transition-delay: 50ms;
}
#uf_footer a.uf-link:hover {
    width: 190px;
}
#uf_footer a.uf-link:hover svg .ufletras {
    opacity: 1;
}
#uf_footer a.uf-link:hover svg .ufseta  {
    fill: url(#setagradiente);
}